aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.10
frozenlist==1.2.0
google-auth==2.3.3
idna==3.3
multidict==5.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==4.0.1
requests==2.27.1
rsa==4.8
six==1.16.0
urllib3==1.26.8
yarl==1.7.2
