black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
DateTime==4.4
geographiclib==1.52
geopy==2.2.0
idna==3.3
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pytz==2021.3
requests==2.27.1
toml==0.10.2
tomli==2.0.1
urllib3==1.26.8
zope.interface==5.4.0
